<div class="modal fade" id="auth-sign-in-modal" data-keyboard="false" data-backdrop="static">
<div class="modal-dialog modal-sm">
 <div class="modal-content-login">
   <div class="modal-header">
      <h4 class="modal-title">Login to Pinquisite</h4>
   </div>
   <div class="modal-body">

      <div class="form-feedback">
      </div>

      <%= form_tag auth_path, remote: true do %>
        <div class="form-group">
          <%= label_tag :username %>
          <%= text_field_tag :username, "", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, "", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= submit_tag "Sign In", class: "btn btn-md btn-primary form-control" %>
        </div>
      <% end %>
      <span>Not a member? <%= link_to "Sign Up", new_user_path(:login) %></span>
   </div>

 </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
