<% @current_user.pins.each do |p| %>
<div class="col-md-3">
   <div class="vertical-smallborder">
      <section>
         <%= link_to image_tag(p.photo.thumb) %>
         <div class="text">
            <span class="txt-black">
               <h1><%= p.title %></h1>
               <p><%= p.notes %></p>
               <a class="button" href="<%= p.link %>">Go to page</a>
            </span>
         </div>
      </section>
   </div>
    </div>
<% end %>

<div class="col-md-3">
<a class="entire" data-toggle="modal" data-target="#add-pin-modal">
<div class="vertical-smallborder">
<section>
<i class="fa fa-plus-circle fa-4x"></i>
<p>Add Pin</p>
</section>
</div>
</a>
</div>

<div class="modal fade" id="add-pin-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div id="pin-form">
        <%= render partial: 'pins/form' %>
      </div>
    </div>
  </div>
</div>
