<!DOCTYPE html>
<html>
<head>
  <title>Pinquisite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tags %>
</head>
<body>
   <div class='container-fluid'>
      <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
             <div id="navbar" class="navbar-collapse collapse">
                <div id="header-nav">
      <%= render partial: "layouts/user_widget" %>
   </div>
   </div><!--/.nav-collapse -->
</div>
</nav>
</div>
<br><br><br>


<div class='container-fluid'>
   <div id="pinslist">
<%= yield %>
</div>
</div>
</body>
</html>
